body {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator {
    width: 50vh;
    height: 70vh;
    border-radius: 2%;
    padding: 1em;
    border: 2px solid black;
    /* background: whitesmoke; */
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
}

#calcdisplay {
    width: 95%;
    text-align: center;
    height: 2em;
    margin: 8px;
    border: 1px solid black;
    background: #74c4fc;
    font-family: Orbitron;
}

.display {
    margin: 0;
    position: relative;
    float: right;
    right: 0.5em;
    top: 0.5em;
    text-align: right;
}

.buttons {
    display: grid;
    text-align: center;
    height: 90%;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
}

#equal {
    grid-column: 3/5;
    border-radius: 2.5rem;
    background: green;
}

#allclear {
    background: #D10000;
}

button {
    margin: 10%;
    background: none;
    border: 1px solid black;
    font-size: 1em;
    border-radius: 50%;
    background: #444c54;
    color: whitesmoke;
}

button:hover {
    border-color: lightskyblue;
    box-shadow: 0 0 2px 1px skyblue;
}
