body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator {
    width: 50vh;
    height: 70vh;
    border-radius: 2%;
    padding: 1em;
    border: 2px solid black;
}

#display {
    width: 95%;
    text-align: center;
    height: 2em;
    margin: 8px;
    border: 1px solid black;
}

.buttons {
    display: grid;
    text-align: center;
    height: 90%;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
}

#equal {
    grid-column: 3/5;
    border-radius: 6%;
}

button {
    margin: 10%;
    background: none;
    border: 1px solid black;
    font-size: 1em;
    border-radius: 50%;
}

button:hover {
    border-color: lightskyblue;
    box-shadow: 0 0 2px 1px skyblue;
}